<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/loan-appliacation.css">
    <title>Loan</title>
</head>
<body>
    <div id="app">
        <header class="vh10">
            <div class="welcome">
                <img class="logo" src="../assets/Images/ad44641f-092a-4ff5-bdc0-57849e5f7438.jpg" alt="Logo">
                <h3>Welcome to South Bank</h3>
            </div>
        </header>
        <main class="layout m-2">
            <nav class=" container navbar navbar-expand-md bg-primary" data-bs-theme="dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse p-1" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="../pages/accounts.html">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../pages/cards.html">Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Investments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">We Lend</a>
                            </li>
                        </ul>
                        <button @click="logout()" class="btn btn-danger" >Logout</button>
                    </div>
                </div>   
            </nav>
            <form class="col-12 d-flex align-items-center justify-content-center m-5">
                <fieldset>
                  <legend class="col-7">{{clients.firstName}} these are the options for a loan</legend>
                  <div class="mb-3">
                    <label for="selectTypeLoan" class="form-label">Select type loan</label>
                    <select id="selectTypeLoan" class="form-select" v-model="selectedLoan" @change="loadData()" name="selectTypeLoan">
                      <option v-for="loan of loans" :value="loan.id">{{loan.name}} Max Amount ${{loan.maxAmount.toLocaleString()}}</option>
                    </select>
                    <div class="mb-3">
                        <label for="selectPayments" class="form-label">Select paymets</label>
                        <select id="selectPayments" class="form-select" v-model="payments" name="selectTypeLoan">
                          <option v-for="payments of paymentsLoan" :value="payments" >{{payments}}</option>
                        </select>
                  </div>
                  <div class="d-flex flex-column mb-3 col-6">
                    <label for="select" class="form-label" >Select your destination account </label>
                    <select name="select" id="select" v-model="destinationAccount">
                      <option :value="account.number" v-for="account of allAcount" >{{account.number}}</option>
                    </select>
                  </div>
                  <div class="d-flex flex-column mb-3">
                    <label for="selectAmount" class="form-label">Enter the amount to loan</label>
                    <input class="col-6" type="text" id="selectAmount" v-model="amount">
                </div>
                       
            <button @click.prevent="getLoan" type="submit" class="btn btn-primary">Apply</button>
              </fieldset>
            </form>

        </main>
        <footer id="footer" class="vh10 col-12 bg-primary d-flex align-items-center justify-content-center"
            data-bs-theme="dark">
            <p>Mindhub CH47 | Ayelen Ceresola</p>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../assets/archivosJs/loan-application.js"></script>
</body>
</html>